html,body{
    background-color: black;
    overflow: auto;
    min-height: 99vh;
    color: white;
    border: darkgrey double;
}

p{
    padding-left: 30px;
    padding-top: 20px;
}

a{
    padding-left: 5px;
    padding-right: 5px;
}

footer{
    width: 100%;
    bottom: 10px;
    text-align: center;
}